<div class="nav">
  <div class="nav-container">
    <div class="nav-brand">
      <img src="../../../../assets/logo/logo-green.png" alt="">
      <p>fluxx</p>
    </div>
    <div class="nav-menu">
      <ul>
        <li>
          <a href="">
            Home
          </a>
        </li>
        <li>
          <a href="">
            About
          </a>
        </li>
        <li>
          <a href="">
            Services
          </a>
        </li>
        <li>
          <a href="">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>